/**
 * @file
 * Forward
 *
 * Styles for the email forward module.
 */

#forward-form {

  // Remove title of page being forwarded, since there's only one it's confusing
	#edit-page {
		@include element-invisible;
	}
}

.forward_link a,
a.forward-page {
  display: block;
  background-image: image-url("email.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
  height: 48px;
  line-height: 48px;
  padding-left: 52px;
  vertical-align: middle;
  @include opacity(0.8);
  @include transition(all 0.25s ease-in);

  &:hover,
  &:active {
    background-color: transparent;
    @include opacity(1);
  }
}
