/**
 * @file
 * Header styles
 *
 * Styles for <a> links.
 */

a {
	color: $or-blue-dark;
  font-weight: bold;
  @include transition(all 0.25s ease-in);

  &:hover,
  &:active {
    color: darken($or-blue-dark, 10%);
    background-color: #fff;
    text-decoration: none;
  }
}

.contextual-links-wrapper a {
	@include transition(all 0s linear);

  &:hover,
  &:active {
    background-color: transparent;
  }
}
