/**
 * @file
 * Menu styles
 *
 * Styles for navigation.
 */

#main-menu {

  .links {

    a {
      @include sassy-button("matte", 5px, 1em, $or-blue, $or-blue, #000, "inset");
      text-decoration: none;
      @include opacity(0.7);
      @include transition(all 0.25s ease-in);

      &:hover,
      &:active {
        color: $text-color;
        @include opacity(1);
        @include text-shadow(0 0 2px $or-white);
      }

      &.active-trail,
      &.active {
        color: $text-color;
        @include opacity(1);
        @include text-shadow(0 0 2px $or-white);
        @include transition(all 0.25s ease-in);
      }
    }
  }
}