/**
 * @file
 * Page styles
 *
 * Styles affecting the page, for instance the page backgrounds.
 */

body {
  color: $text-color;
	background-color: $or-white;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  background-attachment: fixed;
  background-image: image-url("waterfront-river_flickr-tomspix_480.jpg");

  @include breakpoint($bp-south) {
    background-image: image-url("waterfront-river_flickr-tomspix_960.jpg");
  }

  @include breakpoint($bp-christian) {
    padding: $gutter 0;
    background-image: image-url("waterfront-river_flickr-tomspix_1250.jpg");
  }

  @include breakpoint($bp-washington) {
    background-image: image-url("waterfront-river_flickr-tomspix_2000.jpg");
  }
}

#page {
  background-color: $or-white;
  background-color: rgba($or-white, 0.85);
  @include letterpress();

  @include breakpoint($bp-christian) {
    border: 10px $or-white solid;
    @include border-radius(15px);
    @include box-shadow(0 0 5px $or-blue inset);
  }
}
