/**
 * @file
 * Sharing
 *
 * Styles for social media links.
 */

.share-facebook,
.share-twitter {
  display: block;
  background-position: 0 50%;
  background-repeat: no-repeat;
  height: 48px;
  line-height: 48px;
  padding-left: 52px;
  vertical-align: middle;
  @include opacity(0.8);
  @include transition(all 0.25s ease-in);

  &:hover,
  &:active {
    background-color: transparent;
    @include opacity(1);
  }
}

.share-facebook {
  background-image: image-url("waterfront-facebook.png");
}

.share-twitter {
  background-image: image-url("waterfront-twitter.png");
}
