/**
 * @file
 * Header styles
 *
 * Styles for the header region.
 */

#header {
  margin-bottom: $gutter-half;
  padding-top: $gutter-half;
  padding-bottom: $gutter-half;
  background-color: rgba($or-blue, 0.6);
  @include border-radius(5px 5px 0 0);
}