/**
 * @file
 * Header styles
 *
 * Styles for the header region.
 */

#footer {
  margin-top: $gutter-half;
  padding-top: $gutter-quart;
  padding-bottom: $gutter-quart;
  background-color: rgba($or-white, 0.75);

  @include breakpoint($bp-christian) {
	  @include border-radius(0 0 5px 5px);
  }
}